.class {
color:green
}
input{
font-family: cursive;
color: brown;
}
span{
    font-family: cursive;
    color: brown;
}
h1{
color: blue;
}

main{

    color: chartreuse;

font-family: Verdana, Geneva, Tahoma, sans-serif;
}